.dashboard-border {
    margin: 1em;
    background-color: white;
    border: 1px solid grey;
}

.awesome_pie {
    height: 480px;
}

.boolean_indicator {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%
}
.boolean_indicator_true {
    background-color: red;
}

.boolean_indicator_false {
    background-color: green;
}